In [136]:
import numpy as np

scores = np.random.randint(50, 101,size=(50, 5))
scores

array([[ 95,  53,  65,  94,  85],
       [ 79,  92,  74,  93,  74],
       [ 89,  69,  73,  60,  65],
       [ 65,  91,  65,  79, 100],
       [ 80,  67,  68,  60,  65],
       [ 75,  85,  76,  92,  82],
       [ 53,  87,  87,  91,  96],
       [ 88,  58,  57,  84,  67],
       [ 87,  58,  66,  79,  94],
       [ 62,  75,  73,  97,  54],
       [ 60,  95,  65,  70,  76],
       [ 64, 100,  64,  62,  69],
       [ 72,  51,  51,  56,  64],
       [ 67,  56,  83,  78,  58],
       [ 51,  94,  72,  55,  55],
       [ 87,  85,  72,  83,  80],
       [ 64,  67,  54,  93,  96],
       [ 71,  80,  99,  83,  65],
       [ 89,  69,  73,  98,  63],
       [100,  93,  74,  52,  78],
       [ 92,  70,  73,  62,  61],
       [ 68,  80,  94,  92,  80],
       [ 91,  72,  97,  98,  73],
       [ 66,  54,  53,  73,  91],
       [100,  66,  61,  53, 100],
       [ 86,  55,  77,  62,  82],
       [ 77,  79,  91,  62,  92],
       [ 65,  57,  99,  82,  74],
       [ 81,  77,  66,  73,  55],
       [ 87,  77,  75,  66,  99],
       [ 69,  76,  94,  79,  64],
       [ 67,  59,  77,  72,  60],
       [ 82,  81,  89,  58,  58],
       [100,  90,  58,  70,  59],
       [ 97,  86,  78,  97,  82],
       [ 60,  70,  83,  53,  74],
       [ 79,  74,  97,  53,  56],
       [ 97,  51,  54,  65, 100],
       [ 56,  58,  61,  66,  98],
       [ 70,  71,  90,  72,  71],
       [ 71,  76, 100,  98,  98],
       [ 64,  62,  56,  60,  93],
       [ 88,  62,  69,  89,  89],
       [ 73,  66,  70,  72,  89],
       [ 79,  67,  66,  53,  96],
       [ 84,  54,  83,  83,  92],
       [ 89,  57,  72,  70,  68],
       [ 90,  84,  89,  52,  86],
       [ 96,  53,  81,  76,  89],
       [ 63,  60,  84,  85,  53]], dtype=int32)

In [137]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文","英文","數學","地理","歷史"]
)
df

       國文   英文   數學  地理   歷史
學生1    95   53   65  94   85
學生2    79   92   74  93   74
學生3    89   69   73  60   65
學生4    65   91   65  79  100
學生5    80   67   68  60   65
學生6    75   85   76  92   82
學生7    53   87   87  91   96
學生8    88   58   57  84   67
學生9    87   58   66  79   94
學生10   62   75   73  97   54
學生11   60   95   65  70   76
學生12   64  100   64  62   69
學生13   72   51   51  56   64
學生14   67   56   83  78   58
學生15   51   94   72  55   55
學生16   87   85   72  83   80
學生17   64   67   54  93   96
學生18   71   80   99  83   65
學生19   89   69   73  98   63
學生20  100   93   74  52   78
學生21   92   70   73  62   61
學生22   68   80   94  92   80
學生23   91   72   97  98   73
學生24   66   54   53  73   91
學生25  100   66   61  53  100
學生26   86   55   77  62   82
學生27   77   79   91  62   92
學生28   65   57   99  82   74
學生29   81   77   66  73   55
學生30   87   77   75  66   99
學生31   69   76   94  79   64
學生32   67   59   77  72   60
學生33   82   81   89  58   58
學生34  100   90   58  70   59
學生35   97   86   78  97   82
學生36   60   70   83  53   74
學生37   79   74   97  53   56
學生38   97   51   54  65  100
學生39   56   58   61  66   98
學生40   70   71   90  72   71
學生41   71   76  100  98   98
學生42   64   62   56  60   93
學生43   88   62   69  89   89
學生44   73   66   70  72   89
學生45   79   67   66  53   96
學生46   84   54   83  83   92
學生47   89   57   72  70   68
學生48   90   84   89  52   86
學生49   96   53   81  76   89
學生50   63   60   84  85   53

In [138]:
df[["國文","英文"]]

       國文   英文
學生1    95   53
學生2    79   92
學生3    89   69
學生4    65   91
學生5    80   67
學生6    75   85
學生7    53   87
學生8    88   58
學生9    87   58
學生10   62   75
學生11   60   95
學生12   64  100
學生13   72   51
學生14   67   56
學生15   51   94
學生16   87   85
學生17   64   67
學生18   71   80
學生19   89   69
學生20  100   93
學生21   92   70
學生22   68   80
學生23   91   72
學生24   66   54
學生25  100   66
學生26   86   55
學生27   77   79
學生28   65   57
學生29   81   77
學生30   87   77
學生31   69   76
學生32   67   59
學生33   82   81
學生34  100   90
學生35   97   86
學生36   60   70
學生37   79   74
學生38   97   51
學生39   56   58
學生40   70   71
學生41   71   76
學生42   64   62
學生43   88   62
學生44   73   66
學生45   79   67
學生46   84   54
學生47   89   57
學生48   90   84
學生49   96   53
學生50   63   60

In [139]:
#透過index的名稱選取
df.loc["學生1"]
df.loc[["學生1","學生2"]]

     國文  英文  數學  地理  歷史
學生1  95  53  65  94  85
學生2  79  92  74  93  74

In [140]:
#透過index的索引值選取
df.iloc[0]
df.iloc[[0,1,2,3]]

     國文  英文  數學  地理   歷史
學生1  95  53  65  94   85
學生2  79  92  74  93   74
學生3  89  69  73  60   65
學生4  65  91  65  79  100

In [141]:
#透過[]索引來選取數值
df.iloc[:5]
df.iloc[-5:]

      國文  英文  數學  地理  歷史
學生46  84  54  83  83  92
學生47  89  57  72  70  68
學生48  90  84  89  52  86
學生49  96  53  81  76  89
學生50  63  60  84  85  53

In [142]:
df

       國文   英文   數學  地理   歷史
學生1    95   53   65  94   85
學生2    79   92   74  93   74
學生3    89   69   73  60   65
學生4    65   91   65  79  100
學生5    80   67   68  60   65
學生6    75   85   76  92   82
學生7    53   87   87  91   96
學生8    88   58   57  84   67
學生9    87   58   66  79   94
學生10   62   75   73  97   54
學生11   60   95   65  70   76
學生12   64  100   64  62   69
學生13   72   51   51  56   64
學生14   67   56   83  78   58
學生15   51   94   72  55   55
學生16   87   85   72  83   80
學生17   64   67   54  93   96
學生18   71   80   99  83   65
學生19   89   69   73  98   63
學生20  100   93   74  52   78
學生21   92   70   73  62   61
學生22   68   80   94  92   80
學生23   91   72   97  98   73
學生24   66   54   53  73   91
學生25  100   66   61  53  100
學生26   86   55   77  62   82
學生27   77   79   91  62   92
學生28   65   57   99  82   74
學生29   81   77   66  73   55
學生30   87   77   75  66   99
學生31   69   76   94  79   64
學生32   67   59   77  72   60
學生33   82   81   89  58   58
學生34  100   90   58  70   59
學生35   97   86   78  97   82
學生36   60   70   83  53   74
學生37   79   74   97  53   56
學生38   97   51   54  65  100
學生39   56   58   61  66   98
學生40   70   71   90  72   71
學生41   71   76  100  98   98
學生42   64   62   56  60   93
學生43   88   62   69  89   89
學生44   73   66   70  72   89
學生45   79   67   66  53   96
學生46   84   54   83  83   92
學生47   89   57   72  70   68
學生48   90   84   89  52   86
學生49   96   53   81  76   89
學生50   63   60   84  85   53

In [143]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)

In [144]:
df["總分"] = total
df["平均"] = mean

In [145]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)

In [146]:
five_df = df.iloc[:5]
five_df[five_df["總分"] >= 380]

     國文  英文  數學  地理   歷史   總分    平均
學生1  95  53  65  94   85  392  78.4
學生2  79  92  74  93   74  412  82.4
學生4  65  91  65  79  100  400  80.0

In [147]:
df[df['總分'] >= 380]

       國文  英文   數學  地理   歷史   總分    平均
學生1    95  53   65  94   85  392  78.4
學生2    79  92   74  93   74  412  82.4
學生4    65  91   65  79  100  400  80.0
學生6    75  85   76  92   82  410  82.0
學生7    53  87   87  91   96  414  82.8
學生9    87  58   66  79   94  384  76.8
學生16   87  85   72  83   80  407  81.4
學生18   71  80   99  83   65  398  79.6
學生19   89  69   73  98   63  392  78.4
學生20  100  93   74  52   78  397  79.4
學生22   68  80   94  92   80  414  82.8
學生23   91  72   97  98   73  431  86.2
學生25  100  66   61  53  100  380  76.0
學生27   77  79   91  62   92  401  80.2
學生30   87  77   75  66   99  404  80.8
學生31   69  76   94  79   64  382  76.4
學生35   97  86   78  97   82  440  88.0
學生41   71  76  100  98   98  443  88.6
學生43   88  62   69  89   89  397  79.4
學生46   84  54   83  83   92  396  79.2
學生48   90  84   89  52   86  401  80.2
學生49   96  53   81  76   89  395  79.0