In [4]:
import numpy as np
import pandas as pd

tips = pd.read_csv('tips.csv')
tips.columns = ['總票價','小費','吸煙者','日期','時間','大小']
tips['小費比例'] = tips['小費'] / tips['總票價'] * 100
tips

       總票價    小費  吸煙者    日期      時間  大小       小費比例
0    16.99  1.01   No   Sun  Dinner   2   5.944673
1    10.34  1.66   No   Sun  Dinner   3  16.054159
2    21.01  3.50   No   Sun  Dinner   3  16.658734
3    23.68  3.31   No   Sun  Dinner   2  13.978041
4    24.59  3.61   No   Sun  Dinner   4  14.680765
..     ...   ...  ...   ...     ...  ..        ...
239  29.03  5.92   No   Sat  Dinner   3  20.392697
240  27.18  2.00  Yes   Sat  Dinner   2   7.358352
241  22.67  2.00  Yes   Sat  Dinner   2   8.822232
242  17.82  1.75   No   Sat  Dinner   2   9.820426
243  18.78  3.00   No  Thur  Dinner   2  15.974441

[244 rows x 7 columns]

In [5]:
#折分為多個步驟,執行groupby
grouped = tips.groupby(['日期','吸煙者'])
grouped_pct = grouped[['小費','總票價']]
grouped_pct.agg([('平均','mean'),('標準差','std')])

                小費                  總票價
                平均       標準差         平均        標準差
日期   吸煙者
Fri  No   2.812500  0.898494  18.420000   5.059282
     Yes  2.714000  1.077668  16.813333   9.086388
Sat  No   3.102889  1.642088  19.661778   8.939181
     Yes  2.875476  1.630580  21.276667  10.069138
Sun  No   3.167895  1.224785  20.506667   8.130189
     Yes  3.516842  1.261151  24.120000  10.442511
Thur No   2.673778  1.282964  17.113111   7.721728
     Yes  3.030000  1.113491  19.190588   8.355149

In [6]:
#拆分為多個步驟,執行groupby
def peak_to_peak(arr):
    return arr.max() - arr.min()
    
grouped = tips.groupby(['日期','吸煙者'])
grouped_pct = grouped['小費']
grouped_pct.agg([('平均','mean'),('標準差','std'),('最多','max'),('最少','min'),("差值",peak_to_peak)])

                平均       標準差     最多    最少    差值
日期   吸煙者
Fri  No   2.812500  0.898494   3.50  1.50  2.00
     Yes  2.714000  1.077668   4.73  1.00  3.73
Sat  No   3.102889  1.642088   9.00  1.00  8.00
     Yes  2.875476  1.630580  10.00  1.00  9.00
Sun  No   3.167895  1.224785   6.00  1.01  4.99
     Yes  3.516842  1.261151   6.50  1.50  5.00
Thur No   2.673778  1.282964   6.70  1.25  5.45
     Yes  3.030000  1.113491   5.00  2.00  3.00