In [1]:
import pandas as pd
#將DataFrame當作資料庫來操作
df = pd.read_csv('world.csv')

In [2]:
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]

In [3]:
df1['日期'] = pd.to_datetime(df1['日期'])

C:\Users\User\AppData\Local\Temp\ipykernel_5660\433372219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['日期'] = pd.to_datetime(df1['日期'])

In [4]:
#實體方法query()
#query()內放的是字串

df1_taiwan = df1.query("國家=='台灣'")
df1_taiwan

        洲名  國家         日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣 2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣 2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣 2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣 2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣 2020-01-20        0      0  23855008  99999.00
...     ..  ..        ...      ...    ...       ...       ...
164884  亞洲  台灣 2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣 2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣 2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣 2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣 2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [5]:
df1_japan = df1.query("國家=='日本'")
df1_japan

       洲名  國家         日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本 2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本 2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本 2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本 2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本 2020-01-26        4      2  126050796  99999.0
...    ..  ..        ...      ...    ...        ...      ...
86518  亞洲  日本 2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本 2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本 2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本 2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本 2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [6]:
df1_japan.query("日期.dt.year == 2021")

       洲名  國家         日期     總確診數  新增確診數       總人口數      解封指數
85971  亞洲  日本 2021-01-01   239005   3256  126050796      0.25
85972  亞洲  日本 2021-01-02   242076   3071  126050796      0.25
85973  亞洲  日本 2021-01-03   245242   3166  126050796      0.26
85974  亞洲  日本 2021-01-04   248585   3343  126050796      0.26
85975  亞洲  日本 2021-01-05   253534   4949  126050796      0.27
...    ..  ..        ...      ...    ...        ...       ...
86331  亞洲  日本 2021-12-27  1730735    163  126050796  99999.00
86332  亞洲  日本 2021-12-28  1731048    313  126050796  99999.00
86333  亞洲  日本 2021-12-29  1731446    398  126050796  99999.00
86334  亞洲  日本 2021-12-30  1731878    432  126050796  99999.00
86335  亞洲  日本 2021-12-31  1732296    418  126050796  99999.00

[365 rows x 7 columns]

In [7]:
df1_japan.query("日期.dt.year == 2021 and (日期.dt.month == 5 or 日期.dt.month == 8)")

       洲名  國家         日期     總確診數  新增確診數       總人口數      解封指數
86091  亞洲  日本 2021-05-01   598754   5983  126050796      0.16
86092  亞洲  日本 2021-05-02   604644   5890  126050796      0.17
86093  亞洲  日本 2021-05-03   609108   4464  126050796      0.17
86094  亞洲  日本 2021-05-04   613298   4190  126050796      0.17
86095  亞洲  日本 2021-05-05   617358   4060  126050796      0.17
...    ..  ..        ...      ...    ...        ...       ...
86209  亞洲  日本 2021-08-27  1420783  24319  126050796  99999.00
86210  亞洲  日本 2021-08-28  1443642  22859  126050796  99999.00
86211  亞洲  日本 2021-08-29  1462979  19337  126050796  99999.00
86212  亞洲  日本 2021-08-30  1476653  13674  126050796  99999.00
86213  亞洲  日本 2021-08-31  1494372  17719  126050796  99999.00

[62 rows x 7 columns]